*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-50: #f2f9f9;
  --color-100: #ddeff0;
  --color-200: #bfe0e2;
  --color-300: #92cace;
  --color-400: #5faab1;
  --color-500: #438e96; /* BASE COLOR */
  --color-600: #3b757f;
  --color-700: #356169;
  --color-800: #325158;
  --color-900: #2d464c;
  --color-950: #1a2c32;
}

html {
  font-size: 62.5%;
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;

  background: linear-gradient(125deg, #0f0f0f, #2c3e50);

  font-family: "Dosis", sans-serif, system-ui;

  padding: 0.5rem;

  display: grid;
  place-content: center;
}

.main {
  max-width: 600px;

  padding: 3rem 1rem;

  backdrop-filter: blur(100px);
  background-color: #ffffff09;
  color: var(--color-100);

  border-radius: 8px;
  border: 1px solid #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1;

    text-align: center;

    margin-bottom: 2rem;
  }
  .p {
    font-size: 20px;
  }

  .box-checker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .input {
      border: none;
      box-shadow: none;
      width: 120px;

      background: transparent;
      border-bottom: 3px solid #f7f7f7;

      text-align: center;

      padding: 1rem 0.1rem 0.2rem;
      margin-bottom: 2rem;

      font-size: 20px;
      color: var(--color-100);

      transition: all 0.4s ease-in;
    }
    .input:focus {
      width: 80%;

      outline: none;
    }

    .btn {
      min-width: 100px;
      padding: 1rem;

      color: var(--color-50);
      background: var(--color-500);

      cursor: pointer;

      border: 1px solid var(--color-500);
      border-radius: 4px;

      font-size: 16px;
      font-weight: 600;

      transition: all 0.6s ease;
    }
    .btn:hover {
      background: transparent;
      border: 1px solid var(--color-500);
    }
  }
  .container-result {
    display: flex;
    align-items: center;
    min-height: 10dvh;

    max-width: 100%;
  }

  .box-explanation {
    .title {
      font-size: 25px;
      margin-bottom: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .p {
      /* color: var(--color-300); */

      padding: 0 3rem;
      text-wrap: pretty;
    }
    .icon {
      width: 3rem;
    }
  }
}
#result {
  font-size: 25px;
  animation: focus-in 1s ease-out forwards;

  overflow: auto hidden;
  white-space: nowrap;

  .good {
    color: rgb(67, 165, 67);
  }
  .bad {
    color: rgb(184, 52, 52);
  }
}

@keyframes focus-in {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@media (width < 610px) {
  .main {
    backdrop-filter: blur(0px);
    background: transparent;
    border: none;
    box-shadow: none;

    .box-explanation {
      backdrop-filter: blur(100px);

      backdrop-filter: blur(100px);
      background-color: #ffffff09;
      color: var(--color-100);

      border-radius: 8px;
      border: 1px solid #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      padding: 1rem;

      .p {
        padding: 0.3rem;
        text-wrap: balance;
      }
    }
  }
}
